<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>말랑말랑- AI 실시간 채팅 보정</title>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <div class="device-frame">
        <input type="hidden" id="room_id" th:value="${roomId}">
        <input type="hidden" id="user_id" th:value="${userId}">
        <a href="/room_list" class="back_btn"><img src="/images/back.svg" alt=""></a>
        <header class="header">
            <span class="room-name" th:text="${roomName}"></span>
        </header>

        <main class="chat-area" id="chat"></main>

        <div class="ai-card" id="refineCard" onclick="sendMsg()">
            <span class="close-x" onclick="closeCard(event)">×</span>
            <span class="ai-card-title">✨ 말랑말랑 AI 보정 제안</span>
            <div class="ai-text" id="aiPreview">잠시만요, 곧 정리해서 보내드릴게요!</div>
        </div>

        <footer class="input-bar">
            <div class="input-wrapper">
                <input type="text" id="chatInput" placeholder="메시지를 입력하세요...">
            </div>
            <button class="btn-v" style="width:40px; height:40px;" onclick="openRefine()">
                <svg viewBox="0 0 24 24">
                    <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"></path>
                </svg>
            </button>
        </footer>


    </div>
</body>
<script src="/js/chat.js"></script>
<script>
    const aiPreview = document.getElementById('aiPreview');
    const refineCard = document.getElementById('refineCard');

    function openRefine() {
        const val = chatInput.value.trim();
        if (!val) return;

        aiPreview.innerText = `[보정됨] ${val}`;
        refineCard.style.display = 'block';
    }

    function closeCard(e){
        e.stopPropagation();
        refineCard.style.display = 'none';
    }
</script>
</html>