<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>채팅방 생성</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container" th:if="${session.loginUser != null}">
    <div class="phone">
        <div class="card">
            <div class="title" th:text="'반가워요,' + ${session.loginUser.userName} + '님'"></div>
            <div class="subtitle">새 채팅방에서 AI와 함께 <br> 더 완벽한 뉘앙스를 찾아보세요.</div>
            <div class="divider_short"></div>
            <div class="input-group">
                <label for="roomName" class="creat_label">채팅방 이름</label>
                <input type="text" id="roomName" placeholder="방이름을 입력하세요" class="input_create">
            </div>
            <div class="input-group">
                <label for="roomType" class="creat_label">방 타입</label>
                <input type="text" id="roomType" placeholder="개인방 : 1, 단체방 : 2"  class="input_create">
            </div>
            <div class="buttons">
                <button id="create-btn" class="create">채팅방 만들기</button>
            </div>
        </div>
    </div>
</div>
<script>
    const createButton = document.getElementById('create-btn');

    createButton.addEventListener('click', () => {

        fetch('/api/rooms', { // ✅ URL 수정
            method: 'POST',
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                roomName: document.getElementById('roomName').value, // ✅ camelCase
                roomType: parseInt(document.getElementById('roomType').value), // 숫자 변환
                //creatorId: 1 // 테스트용
            })
        })
            .then(res => res.json())
            .then(data => {
                alert('등록 완료 되었습니다.');
                location.href = '/room_list';
            });
    });
</script>

</body>
</html>