<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet" >
</head>
<body>

<div class="container">
    <div class="center-card" id="loginCard">
        <a href="/" class="common_home"><img src="/images/home_white.svg" alt="홈으로"></a>
        <div class="logo-area">
            <img src="/images/malrang.png" class="simbol_img" alt="로고">
        </div>
        <form action="/api/user" class="form-area" id="loginForm" method="post">
            <div class="input-group">
                <label for="userId">아이디 (ID)</label>
                <input type="text" id="userId" name="userId" placeholder="영문, 숫자 4~12자" required>
            </div>

            <div class="input-group">
                <label for="password">비밀번호 (Password)</label>
                <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
            </div>
            <div class="input-group">
                <label for="userName">이름 (Name)</label>
                <input type="text" id="userName" name="userName" placeholder="이름을 입력해주세요" required>
            </div>
            <button type="submit" class="submit-join-btn" id="submitBtn">가입 완료</button>
            <a href="/api/login" class="join-btn">로그인</a>
        </form>
    </div>
</div>
</body>
</html>