<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>페르소나 태그 리스트</title>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/persona.css" rel="stylesheet">
</head>
<body>
<div class="persona-wrapper">
    <div id="finalSelectionScreen">
        <div class="card" th:each="item : ${personaWithTagsList}">
            <div>
                <h2 class="final-title" th:text="${item.personas.personaName}"></h2>
                <div class="final-tags" th:if="${#lists.size(item.tags) > 0}">
                <span th:each="tag : ${item.tags}"
                      th:text="'#'+ ${tag.hashtags.hashtagName} + ' '">
                    태그명 (카테고리)
                </span>
                </div>
                <div th:if="${#lists.size(item.tags) == 0}">
                    <p>등록된 태그가 없습니다.</p>
                </div>
            </div>
            <button class="start-btn" onclick="startChat()">이 페르소나 장착!</button>
        </div>
        <div class="no-persona" th:if="${#lists.isEmpty(personaWithTagsList)}">
            <p>등록된 페르소나가 없습니다. <br> 먼저 페르소나를 등록해 주세요!</p>
            <a href="persona_tags/register" class="btn-register">페르소나 등록하기</a>
        </div>
    </div>


</div>
<script>
    function startChat() {
        location = "/room_list"
    }
</script>
</body>
</html>