<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방 목록</title>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/room_list.css" rel="stylesheet">
</head>
<body>
<div class="phone">
    <div class="card">

        <!-- 채팅방 리스트 -->
        <div class="chat-list">
            <div class="chat-list-header">
                <h4>채팅방 목록</h4>
            </div>
            <div class="chat-content" th:each="room:${rooms}">
                <a class="chat-text" th:href="@{/chat/{id}(id=${room.roomId})}">
                    <span class="chat-name" th:text="${room.roomName}"></span>
                    <p th:text="${room.lastMessage}"></p>
                    <span class="date-time" th:text="${room.lastMessageTime}"></span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>