<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채팅방 목록</title>
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <link href="/css/room_list.css" rel="stylesheet">
</head>
<body>
<div class="phone">
    <input type="hidden" id="user_id" th:value="${loginUser}">
    <div class="card-list-wrap">
        <!-- 채팅방 리스트 -->
        <div class="chat-list">
<!--            <a href="/create_room" class="create_btn" th:if="${loginUser != null}">-->
<!--                <img src="/images/icon_corner_plus.svg">-->
<!--            </a>-->
<!--            <a href="/create_room" class="create_btn" th:if="${loginUser != null}">New</a>-->
            <div class="chat-list-header">
                <h4>채팅방 목록</h4>
            </div>
            <div class="chat-content" th:each="room:${rooms}">
                <a class="chat-text" th:href="@{/chat/{id}(id=${room.roomId})}">
                    <span class="chat-name" th:text="${room.roomName}"></span>
                    <p th:text="${room.lastMessage}"></p>
                    <span class="date-time" th:text="${room.lastMessageTime}"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom_icon_set">
        <a href="/api/login"><img src="/images/back.svg" alt="뒤로"></a>
        <a href="/index"><img src="/images/home.svg" alt="home"></a>
        <a href="/create_room" th:classappend="${loginUser == null} ? 'btn_hidden'">
            <img src="/images/icon_corner_plus.svg" alt="">
        </a>
    </div>
    <div class="room-modal-overlay" id="modalOverlay" th:if="${loginUser == null}">
        <div class="room-modal-card">
            <div class="room-modal-info" id="text"></div>
            <div class="buttons">
                <button class="create" onclick="closeModal()">알겠어요.</button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const tags = JSON.parse(localStorage.getItem("hashtags")) || [];
    console.log(tags);
    document.getElementById("text").innerHTML =
         "\""+ tags.join(", ") + "\"" +  " <br> (으)로 채팅을 시작합니다...";

    const userId = document.getElementById("user_id").value;
    const modal = document.getElementById('modalOverlay');

    function closeModal() {
        modal.style.display = 'none';
    }
</script>
</html>